*{  
    font-family: Quicksand;
    transition: all 0.5s ease;
}

html, body{
    min-height: 100%;
}

#box{
    background-image: linear-gradient(90deg,rgba(212,173,142,0.5),rgba(147,31,94,0.5)), linear-gradient(rgba(235,221,186,0.74),rgba(34,35,63,0.7), rgba(9,8,13,0.9)),url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: darken, darken, normal;
    min-height: 100%;
}

#left{
    min-height: 100%;
    color: white;
}

#right{
    background-image: linear-gradient(rgba(0,0,0,0.05),rgba(0,0,0,0.05));
    min-height: 100%;
    color: white;
}

.text-center{
    text-align: center;
}

.home-title{
    font-size: 100px;
    text-shadow: 0 5px 25px rgba(0,0,0,0.7);
}

.kley{
    padding-top: 1em;
}

.home-title-and{
    font-size: 70px;
    text-shadow: 0 5px 25px rgba(0,0,0,0.7);
}

.notification{
    font-size: 14px;
}

.btn-playground{
    color: white;
    margin-top: 2em;
    background: none;
    border-radius: 5px;
    width: auto;
    height: 60px;
    font-size: 20px;
    transition: 0.8s ease;
}

.btn-playground:hover{
    background-color: rgba(255,255,255,0.5);
    border-color: rgba(255,255,255,0.5);
}