html, body{
    min-height: 100%;
}

#box{
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
}

#home{
    background-color: black;
    opacity: 0.2;
    min-height: 100%;
    color: white;
}