*{  
    font-family: Quicksand;
    transition: all 0.5 ease;
}

html, body{
    min-height: 100%;
}
body{
	transition: all 1s ease;
	overflow-x: hidden;
}

body{
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

@keyframes fadein{
	from { opacity: 0; }
	to   { opacity: 1; }
}
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: black; 

}