*{  
    font-family: Quicksand;
	box-sizing: border-box;
}

html,body{
	width: 100%;
}

body{
	min-height: 100%;
	background-color: #eee;
}

span.tab{
	display: inline-block;
	padding: 0 10px;
}

a.jump{
	font-weight: bold;
}

code{
	padding: 0;
}

.restrict-overflow{
	overflow: hidden;
}

.loadingscreen{
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	background: black;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

kv-loadicon-wave{
	color: white;
}

.download-container button{
	background: #333;
	padding: 5px 15px;
	border: 2px solid #ce112d;
	color: white;
	font-size: 1.4em;
	border-radius: 3px;
	box-shadow: 0 0 3px black;
	transition: all 0.1s ease;
}

.download-container button:hover{
	background: #ce112d;
	border: 2px solid white;
	color: white;
}

.download-container button:focus{
	border: 2px solid #333;
}

.section-vile{
	text-align: center;
}

.section-vile .split-left,
.section-vile .split-right{
	padding-top: 30px;
	width: 50%;
	float:left;
	padding-bottom: 350px;
}
.section-vile .split-left{
	color: white;
	text-align: right;
	background: #333;
}
.section-vile .split-right{
	text-align: left;
}

.section-vile .split-container:after{
	display: block;
	content: '';
	clear: both;
}

.section-vile h1.title{
	font-variant: small-caps;
}

.section-vile h1.title small{
	vertical-align: super;
	font-variant: normal;
	font-size: 0.5em;
	font-weight: bold;
}

.section-vile div.description{
	position: absolute;
	display:block;
	width: 100%;
	margin-top: -300px;
}

.section-vile div.description>p{
	display: inline-block;
	background: #333;
	color: white;
	padding: 30px 20px;
	max-width: 100%;
	width: 400px;
	box-shadow: -5px 0 0 #ce112d;
}
.section-vile div.description>p:after,
.section-vile div.description>p:before{
	display:block;
	height: 5px;
	margin-right: auto;
	background: #ce112d;
	content: '';
	width: 30px;
}
.section-vile div.description>p:after{
	margin-top: 30px;
	margin-bottom: -35px;
	margin-left: -25px;
}
.section-vile div.description>p:before{
	margin-top: -35px;
	margin-bottom: 30px;
	margin-left: -25px;
}

@media only screen and (max-width:400px){
	.section-vile div.description p{
		width: 100%;
	}
}
.section-vile div.description div.info-warning{
	margin-top: 15px;
	height: auto;
}
.section-vile div.description div.info-warning>div{
	display: inline-block;
	padding: 15px 30px;
	background: #333;
	box-shadow: inset 0 0 0 4px #337ab7, 0 0 4px black;
	color: white;
}
.section-vile div.description div.info-warning>div>p{
	margin: 3px 0;
	color: white;
}

.section-preview{
	padding-bottom: 30px;
}

.section-preview:before{
	content: '';
	display: block;
	height: 20px;
	background: repeating-linear-gradient(-45deg, #ce112d 0px, #ce112d 16px, black 16px, black 32px);
	background-attachment: fixed;
}

.section-preview>div{
	padding: 15px;
}

div.why{
	text-align: center;
}

div.why>.code{
	text-align: left;
	display: inline-block;
	background: #333;
	padding: 15px;
	color: white;
	max-width: 500px;
	vertical-align: top;
	word-wrap: break-word;
	margin: 5px 0;
}

@media only screen and (max-width:700px){
	div.why>.code{
		max-width: 100%;
	}
}

div.why> p{
	width: 300px;
	max-width: 100%;
	margin: 5px auto;
}

div.why>.code>code{
	font-weight: bold;
	color: #BEDB39;
	background: none;
}

.section-installation{
	padding-bottom: 30px;
}

.section-installation:before{
	content: '';
	display: block;
	height: 20px;
	background: repeating-linear-gradient(45deg, #ce112d 0px, #ce112d 16px, black 16px, black 32px);
	background-attachment: fixed;
}

.section-installation>div{
	padding: 15px;
}